/* General Table Styles */
.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Fix column widths */
}


/* Table Headers */
.table thead {
    background-color: #004466;
    color: #fff;
    text-transform: uppercase;
}

.table thead{
    display:table-header-group;
}

.table tbody{
    display:table-row-group;
}

.table-header-row{
    width:100%;
}

.table thead th {
    padding: 12px 15px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." if text is too long */
    border-bottom: 2px solid #ddd;
    box-sizing: border-box;
}

/* Table Body */
.table tbody td {
    padding: 10px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    box-sizing: border-box;
}


/* Alternating Row Colors */
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover Effects */
.table tbody tr:hover {
    background-color: #e3f2fd;
    transition: background 0.3s ease;
}

/* Responsive Scroll for Small Screens */
@media screen and (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.th-checkbox, .td-checkbox { width: 3%; }
.th-title, .td-title { width: 17%; }
.th-category, .td-category { width: 10%; }
.th-related, .td-related { width: 10%; }
.th-col-description, .td-description { width: 30%; }
.th-publisher, .td-publisher{ width: 10%; }
.th-publisher-name, .td-publisher-name { width: 10%; }
.th-date, .td-date { width: 10%; }

/* Checkbox Alignment */
td input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

/* Links Inside Table */
.table a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.table a:hover {
    text-decoration: underline;
}